<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jeju.olleh.mapper.CommentMapper">
    <resultMap id="commentForm" type="CommentForm">
		<id column="no" property="no"/>
		<result column="memberNo" property="memberNo"/>
		<result column="name" property="memberName"/>
		<result column="register_date" property="date"/>
		<result column="content" property="content"/>
	</resultMap>

	<insert id="insertComment">
		<selectKey resultType="int" keyProperty="no" order="BEFORE">
			select comments_seq.nextval from dual
		</selectKey>
		   insert into comments
        	values( #{no},
        	#{board_no},
        	#{member_no},
        	sysdate,
        	#{content},
        	#{register_ip},
        	1
        	)
		
	</insert>


    <update id="updateComment">
        update comments
        set content     = #{content},
            modify_date = sysdate
        where no =#{no}
    </update>

    <delete id="deleteComment">
        update comments
        set status = 2
        where no =#{no}
    </delete>

    <select id="getCommentCount" resultType="int">
		select count(*) 
		from comments 
		where board_no = #{board_no}
    </select>
    
    
 	<select id="getCommentList" resultMap="commentForm">
 		select comments.no, 
 				member.no as memberNo, 
 				member.name, 
 				comments.register_date, 
 				comments.content 
		from comments 
    	join board on 
    		(comments.board_no = board.no)
    	join member on 
    		(member.no = comments.member_no)
    	where comments.board_no = #{board_no}
    	order by comments.no
	</select>

 	
 	


 	
</mapper>