@charset "UTF-8";

.wrap{
	width:100%;
	height:auto;
	position:relative;
	font-family: 'Noto Sans KR', sans-serif;
}

.container{
	width:1100px; 
	height:auto;
	position:relative;
	margin: 80px auto;
	margin-bottom:80px;
	margin-top: 40px;
}